$may_color: #8fc93a;
$may-color1: #7C98B3;
$may-color2: #567490;
$may-color3: #ffd5c2;
$may_color4: #FFE66D;
$may_color5: #F7FFF7;
$may_color6: #33658A;
$may_color7: #439A86;
$may_color8: #E5FFDE;
$may_color9: #9D5C63;
$may_color10: #9A031E;
$may_color11: #B5D6B2;

$main_color: #000000;
$main_color1: #FFFFFF;
$main_color2: #33261D;
$main_color3:#F6AE2D;
$main_color4:#BBCBCB;
$main_color5: #FE5F55;
$main_color6: #FED99B;
$main_color7: #FED18C;
$main_color8: #D6EFFF;
$main_color9: #5A464C;
$main_color10: #ABACAD;
$main_color11: #53131E;


// FONTS

$font-family1_: 'Bebas Neue', sans-serif;
$font-family2_: 'Changa', sans-serif;
$font-family6_: 'Kanit', sans-serif;
$font-family9_: 'Orbitron', sans-serif;
$font-family10_: 'Oswald', sans-serif;
$font-family12_: 'Play', sans-serif;
$font-family15_: 'Young Serif', serif;